@font-face {
	font-family:Roboto;
	font-weight: 200;
	src:url("Roboto-Light.ttf");
}
@font-face {
	font-family:Roboto;
	font-weight: 100;
	src:url("Roboto-Thin.ttf");
}
body {
	font-family:Roboto, Arial, sans-serif;
	font-size: 1.3em;
}
body, section {
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
section {
	margin:40px;
}
h1 {
	margin-top: 0;
	font-size: 3em;
	font-weight: 100;
}
div {
	margin-bottom: 1em;
}
nav {
	position: absolute;
	right:0;
	bottom: 0;
}
figcaption {
}
button {
	border:none;
	font-family: inherit;
	font-size: 1.5em;
	color: #7B7BFF;
	cursor: pointer;
	padding: 10px;
	background-color: transparent;
	outline:none;
}
button:hover {
	background-color: #FAFAFA;
}
button:active {
	background-color: #EEEEEE;
}
.marble-blue, .marble-orange {
	display:inline-block;
	width:70px;
	height: 70px;
	margin:10px;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
}
.marble-blue {
	border: 5px solid blue;
	z-index: 0;
}
.marble-orange {
	border: 5px solid orange;
	z-index: 1000;
}
